/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "../nord-colors.less";

@titlebar-bg: @nord1;
@titlebar-fg: @nord4;
@titlebar-close-bg: @nord11;

// render a small bright close button without the ✕
.window > .title::before {
    content: "";
    border: 3px solid @titlebar-bg;
}

@term-bg: @nord0;
@term-fg: @nord6;
@term-cursor-bg: @nord9;
@term-ps1-fg: @term-fg;
@term-ask-fg: @term-fg;
@term-linum-fg: @nord9;
@term-modeline-fg: @nord4;
@term-modeline-bg: @nord3;
@term-modeline-border: transparent;
