/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@orange: #e87311;

@titlebar-bg: #454240;
@titlebar-fg: #fff;
@titlebar-close-bg: @orange;

@term-fg: #fff;
@term-bg: #2b2928;
@term-ps1-fg: #9ccc65;
@term-ask-fg: #1874cd;
@term-cursor-bg: @orange;
@term-linum-fg: darken(@term-fg, 30);
@term-modeline-fg: #ccc;
@term-modeline-bg: #454240;
@term-modeline-border: transparent;
