/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@import (less) "modern-normalize";

@import "../modules/defaults";
@import "../modules/print";
@import "../modules/quote";
@import "../modules/slides";
@import "../modules/slide-templates";
@import "../modules/terminal";
@import "../modules/typeface";
@import "../modules/typewriter";
@import "../modules/utilities";
@import "../modules/window";

@default-font-family: 'Fira Sans', 'Open Sans', sans-serrif;
@base-font-size: 16px;

@title-fg: @default-fg;
@highlight-fg: contrast(@default-bg);
@highlight-bg: contrast(@highlight-fg);
@muted-fg: rgba(@default-fg, .5);

@footer-h: 54px;

// Use an .expositio mixin to allow theme selection with index.less. If the theme is
// loaded directly, the plain #expositio selector is used which also contains these
// definitions.
.expositio() {
    font-family: @default-font-family;
    font-size: @base-font-size;
    line-height: 1.6em;
    background-color: @default-bg;
    color: @default-fg;

    .slide {
        --slide-h: 700px;
        --slide-w: 960px;
    }
}
#expositio { .expositio(); }
