/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    .uppercase;
    font-size: inherit;
    font-weight: inherit;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px dashed;

    &:hover {
        color: @highlight-fg;
        border-bottom: 1px solid @highlight-fg;
    }
}

code {
    .monospace;
    color: @highlight-fg;

    &.no-hl {
        color: inherit;
    }
}

pre > code {
    .block;
    color: inherit;
}

aside {
    color: @muted-fg;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(@default-bg, .7);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(@default-fg, .7);
}
