/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

.quote {
    blockquote, q {
        &::before { content: "“"; }
        &::after { content: "”"; }
        &[cite]::after {
            content: "” — " attr(cite);
            font-style: italic;
        }
    }
    blockquote {
        border-left: .1em solid @highlight-fg;
        padding-left: 1em;
    }
    cite {
        font-style: italic;
        padding-left: 1em;
        &::before {
            content: " — ";
        }
    }
}
