/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

.slides {
    min-height: calc(100vh - @footer-h);

    .slide {
        max-height: calc(100vh - 2*@footer-h);
        width: var(--slide-w);
        max-width: 100vw;

        cursor: default;
    }

    &[data-mode='presenting'] {
        .cloak {
            display: none !important;
        }
        @media screen {
            .hidden {
                visibility: hidden;
            }
        }

        // vertically center on screen (including possible footer)
        display: grid;
        align-items: center;
        padding-top: @footer-h;
        .slide {
            height: var(--slide-h);
            margin: 0 auto;
        }
    }

    &[data-mode='continuous'] {
        @media screen {
            // in browser, max-height allows scroll snapping; on print, full
            // height ensures background color is on every page.
            max-height: calc(100vh - @footer-h);

            .hidden {
                visibility: hidden;
            }
        }

        padding-top: @footer-h;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        overflow-y: scroll;
        .slide {
            height: calc(100vh - @footer-h);
            width: 100%;
            max-height: 100vh;
            padding: 50px;
            scroll-snap-align: start;
        }

        @media print {
            & {
                overflow-y: visible;
            }
            .slide {
                page-break-after: always;
            }
        }
        & + footer {
            background-color: inherit;
            bottom: 0;
            position: fixed;
            width: 100%;
        }
    }

    &[data-mode='overview'] {
        @scale: 0.2;
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-auto-rows: 20vh;
        gap: 50px;
        place-items: center;
        justify-content: center;
        user-select: none;
        margin: 0 auto;
        padding: 100px 50px;

        .slide {
            border: 5px dashed @default-fg;
            transform: scale(@scale);
            height: var(--slide-h);

            &:not(.cloak) {
                border-color: @highlight-fg;
            }
        }
    }
}

footer {
    height: @footer-h;
    position: relative;

    aside.copyright, aside.attribution {
        .text-right;
        padding: 0 20px;
    }

    #slidenum {
        .block;
        .text-right;
        width: 100%;
        padding: 0 15px;
    }
}

#slide-progress {
    .skip-print();
    .block;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: transparent;

    & > .bar {
        background-color: @highlight-fg;
        display: block;
        height: 100%;
        transition: width .8s ease-in-out;
    }
}

.theme-switcher {
    .skip-print();
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;

    li {
        .inline-block;
        .text-center;
        cursor: pointer;
        margin: 10px 0;
        padding: 0 20px;

        &:not(:first-of-type) {
            border-left: 1px solid @muted-fg;
        }

        &.active {
            color: @highlight-fg;
        }
    }
}

.modal.hint {
    .skip-print();
    .text-center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 25px;
    background: rgba(#000, 0.5);
    backdrop-filter: grayscale(0.7);
    color: #fff;
    // Use strict absolute font-size as hints should have identical size inside
    // or outside a .slide
    font-size: @base-font-size * 1.5;
}
