/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@selector-slide-auto-title: & > .title, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6;
@selector-slide-auto-subtitle: & > .subtitle,
                               & > h1 + h2, & > h1 + h3, & > h1 + h4, & > h1 + h5, & > h1 + h6,
                               & > h2 + h3, & > h2 + h4, & > h2 + h5, & > h2 + h6,
                               & > h3 + h4, & > h3 + h5, & > h3 + h6,
                               & > h4 + h5, & > h4 + h6,
                               & > h4 + h5, & > h4 + h6,
                               & > h5 + h6;

.slides .slide {
    .text-center;
    font-size: 2em;
    line-height: 1.6em;
    display: grid;
    overflow-x: auto;

    .title() {
        color: @title-fg;
        font-size: 2em;
        line-height: 1.5em;
        margin: 0 auto;
        max-width: 90%;
        place-self: center;

        &:only-child {
            font-size: 3em;
        }

        img {
            height: 1em;
            vertical-align: middle;
        }
    }

    .subtitle() {
        .font-normal;
        .capitalize;
        font-size: 1.25em;
        line-height: 2em;
    }

    @{selector-slide-auto-title} {
        .title();
    }
    @{selector-slide-auto-subtitle} {
        .subtitle();
    }

    // legacy defaults
    h1,h2,h3,h4,h5,h6 {
        .title();
    }

    p {
        /* p is often used as image container; hide overflow to strictly
               size the formatting context to make relative size units work. */
        overflow: hidden;
    }

    ul, ol {
        .text-left;
        margin: 0 auto;

        line-height: 1.6em;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding-left: 1em;

        li {
            padding: 0 0 0 .4em;
        }
        li::marker {
            font-size: .7em;
        }
    }
    ul > li  {
        list-style: disc outside;
    }
    ol > li {
        list-style: arabic outside;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }

    figure > img {
        .block;
        margin: auto;
        max-height: calc(100% - 1.6em);

        & + figcaption {
            .font-normal;
            .text-center;
            font-size: .7em;
        }
    }

    & > img:only-child, & > p:only-child > img:only-child {
        max-height: var(--slide-h);
        max-width: var(--slide-w);
    }

    video {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: 0 auto;
        aspect-ratio: 16/9;
        outline: none;
    }

    pre {
        .text-left;
    }

    aside {
        font-size: .5em;
        color: rgba(@default-fg, .8);
    }

    &[data-slide-template="poly"],
    &:not([data-slide-template]) {
        & > *:only-child {
            place-self: center;
        }
    }

    &[data-slide-template="content"] {
        display: grid;
        grid-template-areas: "title" "subtitle" "spacer" "content";
        grid-template-rows: 4em min-content 1em max-content;

        @{selector-slide-auto-title} {
            .title();
            grid-area: title;
        }
        @{selector-slide-auto-subtitle} {
            .subtitle();
            grid-area: subtitle;
        }

        & > .content, & > * {
            grid-area: content;
        }
    }

    &[data-slide-template="columns"] {
        display: grid;
        grid-template-areas: "title title" "left right";
        grid-gap: 1em;
        grid-template-rows: 4em calc(100% - 5em);
        grid-template-columns: repeat(1fr);

        @{selector-slide-auto-title} {
            .title();
            grid-area: title;
        }
        @{selector-slide-auto-subtitle} {
            .subtitle();
            grid-area: subtitle;
        }

        & > .left {
            grid-area: left;
        }
        & > .right {
            grid-area: right;
        }
    }
}
