/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

// support deprecated variables
@term-fg: @default-fg;
@term-bg: @default-bg;
@term-font-size: @base-font-size;
@term-line-height: 1.5;
@term-linum-fg: @term-fg;
@term-ps1-fg: @term-fg;
@term-ask-fg: @term-fg;
@term-cursor-bg: @term-fg;

@term-modeline-fg: mix(@term-fg, @term-bg, 90%);
@term-modeline-bg: mix(@term-fg, @term-bg, 20%);
@term-modeline-border: transparent;

@hi-1: #8c8c8c;
@hi-2: #93a8c6;
@hi-3: #b0b1a3;
@hi-4: #97b098;
@hi-5: #aebed8;
@hi-6: #b0b0b3;
@hi-7: #90a890;
@hi-8: #a2b6da;
@hi-9: #9cb6ad;
@hi-10: #698b22;
@hi-11: #ff7256;

.terminal {
    .monospace;
    .text-left;
    --cursor-bg: @term-cursor-bg;
    font-size: @term-font-size;
    background-color: @term-bg;
    color: @term-fg;
    line-height: unit(@term-line-height, em);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: calc(var(--term-lines, 24) * unit(@term-line-height, em));
    width: calc(var(--term-cols, 80) * 1ch + 20px);
    padding: 10px;

    .prog-mode {
        code {
            white-space: pre;
            color: @term-fg;
        }
    }

    .linum-mode {
        counter-reset: linenum;

        & .line {
            counter-increment: linenum;
            &::before {
                .inline-block;
                .text-right;
                color: @term-linum-fg;
                content: counter(linenum);
                margin-right: 1ch;
                width: 2ch;
                user-select: none;
            }
        }
    }

    .input {
        scroll-snap-align: start;
        scroll-margin-top: 10px;
    }

    .output {
        margin-bottom: 1.5em;
        white-space: pre;
    }

    .ps1 {
        .font-semibold;
        .inline-block;
        color: @term-ps1-fg;
        user-select: none;

        &::after {
            content: ">";
            margin: 0 1ch;
        }
    }

    .ask {
        .font-semibold;
        .inline-block;
        color: @term-ask-fg;
        user-select: none;
        margin-right: 1ch;
    }

    .hi-1 {
        background-color: @hi-1;
    }
    .hi-2 {
        background-color: @hi-2;
    }
    .hi-3 {
        background-color: @hi-3;
    }
    .hi-4 {
        background-color: @hi-4;
    }
    .hi-5 {
        background-color: @hi-5;
    }
    .hi-6 {
        background-color: @hi-6;
    }
    .hi-7 {
        background-color: @hi-7;
    }
    .hi-8 {
        background-color: @hi-8;
    }
    .hi-9 {
        background-color: @hi-9;
    }
    .hi-10 {
        background-color: @hi-10;
    }
    .hi-11 {
        background-color: @hi-11;
    }
}

// fill a .window completely
.window {
    &> .terminal {
        min-height: calc(var(--term-lines) * unit(@term-line-height, em));
        min-width: calc(var(--term-cols) * 1ch + 20px);
    }
    & > .pane.terminal,
    & > .pane > .terminal {
        & > .modeline {
            background-color: @term-modeline-bg;
            color: @term-modeline-fg;
            border-color: @term-modeline-border;
        }
    }
    &.maximized > .terminal,
    &.maximized > .pane > .terminal {
        height: 100%;
        width: 100%;
    }
}
