/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: local('Fira Sans Hair'),
         url('../fonts/FiraSans-Hair.woff2') format('woff2'),
         url('../fonts/FiraSans-Hair.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: local('Fira Sans Regular'),
         url('../fonts/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: local('Fira Sans SemiBold'),
         url('../fonts/FiraSans-SemiBold.woff2') format('woff2'),
         url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: local('Fira Sans Bold'),
         url('../fonts/FiraSans-Bold.woff2') format('woff2'),
         url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka SS02';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: local('Iosevka SS02 Thin'),
         local('Iosevka Thin'),
         url('../fonts/iosevka-ss02-thin.woff2') format('woff2'),
         url('../fonts/iosevka-ss02-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka SS02';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: local('Iosevka SS02'),
         local('Iosevka'),
         url('../fonts/iosevka-ss02-regular.woff2') format('woff2'),
         url('../fonts/iosevka-ss02-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka SS02';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: local('Iosevka SS02 Semibold'),
         local('Iosevka Semibold'),
         url('../fonts/iosevka-ss02-semibold.woff2') format('woff2'),
         url('../fonts/iosevka-ss02-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka SS02';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: local('Iosevka SS02 Bold'),
         local('Iosevka Bold'),
         url('../fonts/iosevka-ss02-bold.woff2') format('woff2'),
         url('../fonts/iosevka-ss02-bold.ttf') format('truetype');
}
