/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

.typewriter-0 { .typewriter(0); }
.typewriter-1 { .typewriter(1); }
.typewriter-2 { .typewriter(2); }
.typewriter-3 { .typewriter(3); }
.typewriter-4 { .typewriter(4); }
.typewriter-5 { .typewriter(5); }
.typewriter-6 { .typewriter(6); }
.typewriter-7 { .typewriter(7); }
.typewriter-8 { .typewriter(8); }
.typewriter-9 { .typewriter(9); }
.typewriter-10 { .typewriter(10); }
.typewriter-11 { .typewriter(11); }
.typewriter-12 { .typewriter(12); }
.typewriter-13 { .typewriter(13); }
.typewriter-14 { .typewriter(14); }
.typewriter-15 { .typewriter(15); }
.typewriter-16 { .typewriter(16); }
.typewriter-17 { .typewriter(17); }
.typewriter-18 { .typewriter(18); }
.typewriter-19 { .typewriter(19); }
.typewriter-20 { .typewriter(20); }
.typewriter-21 { .typewriter(21); }
.typewriter-22 { .typewriter(22); }
.typewriter-23 { .typewriter(23); }
.typewriter-24 { .typewriter(24); }
.typewriter-25 { .typewriter(25); }
.typewriter-26 { .typewriter(26); }
.typewriter-27 { .typewriter(27); }
.typewriter-28 { .typewriter(28); }
.typewriter-29 { .typewriter(29); }
.typewriter-30 { .typewriter(30); }
.typewriter-31 { .typewriter(31); }
.typewriter-32 { .typewriter(32); }
.typewriter-33 { .typewriter(33); }
.typewriter-34 { .typewriter(34); }
.typewriter-35 { .typewriter(35); }
.typewriter-36 { .typewriter(36); }
.typewriter-37 { .typewriter(37); }
.typewriter-38 { .typewriter(38); }
.typewriter-39 { .typewriter(39); }
.typewriter-40 { .typewriter(40); }
.typewriter-41 { .typewriter(41); }
.typewriter-42 { .typewriter(42); }
.typewriter-43 { .typewriter(43); }
.typewriter-44 { .typewriter(44); }
.typewriter-45 { .typewriter(45); }
.typewriter-46 { .typewriter(46); }
.typewriter-47 { .typewriter(47); }
.typewriter-48 { .typewriter(48); }
.typewriter-49 { .typewriter(49); }
.typewriter-50 { .typewriter(50); }
.typewriter-51 { .typewriter(51); }
.typewriter-52 { .typewriter(52); }
.typewriter-53 { .typewriter(53); }
.typewriter-54 { .typewriter(54); }
.typewriter-55 { .typewriter(55); }
.typewriter-56 { .typewriter(56); }
.typewriter-57 { .typewriter(57); }
.typewriter-58 { .typewriter(58); }
.typewriter-59 { .typewriter(59); }
.typewriter-60 { .typewriter(60); }
.typewriter-61 { .typewriter(61); }
.typewriter-62 { .typewriter(62); }
.typewriter-63 { .typewriter(63); }
.typewriter-64 { .typewriter(64); }
.typewriter-65 { .typewriter(65); }
.typewriter-66 { .typewriter(66); }
.typewriter-67 { .typewriter(67); }
.typewriter-68 { .typewriter(68); }
.typewriter-69 { .typewriter(69); }
.typewriter-70 { .typewriter(70); }
.typewriter-71 { .typewriter(71); }
.typewriter-72 { .typewriter(72); }
.typewriter-73 { .typewriter(73); }
.typewriter-74 { .typewriter(74); }
.typewriter-75 { .typewriter(75); }
.typewriter-76 { .typewriter(76); }
.typewriter-77 { .typewriter(77); }
.typewriter-78 { .typewriter(78); }
.typewriter-79 { .typewriter(79); }
.typewriter-80 { .typewriter(80); }
.typewriter-81 { .typewriter(81); }
.typewriter-82 { .typewriter(82); }
.typewriter-83 { .typewriter(83); }
.typewriter-84 { .typewriter(84); }
.typewriter-85 { .typewriter(85); }
.typewriter-86 { .typewriter(86); }
.typewriter-87 { .typewriter(87); }
.typewriter-88 { .typewriter(88); }
.typewriter-89 { .typewriter(89); }
.typewriter-90 { .typewriter(90); }
.typewriter-91 { .typewriter(91); }
.typewriter-92 { .typewriter(92); }
.typewriter-93 { .typewriter(93); }
.typewriter-94 { .typewriter(94); }
.typewriter-95 { .typewriter(95); }
.typewriter-96 { .typewriter(96); }
.typewriter-97 { .typewriter(97); }
.typewriter-98 { .typewriter(98); }
.typewriter-99 { .typewriter(99); }

.typewriter(@chars, @cps: 9.66) {
    @letter-spacing: .0625em;

    .inline-block;
    box-sizing: content-box;
    letter-spacing: @letter-spacing;
    overflow-x: hidden;
     /* Compensate for the enlarged formatting context caused by overflow: hidden */
    vertical-align: top;
    white-space: nowrap;

    width: calc(unit(@chars, ch) + (@chars*@letter-spacing));

    & when (@chars > 0) {
        animation: typing unit((@chars/@cps), s) steps(@chars);
    }
}

.focus [class^="typewriter-"] {
    border-right: .6em solid var(--cursor-bg, @default-fg);
}


.hidden [class^="typewriter-"],
.done [class^="typewriter-"] {
    animation: none;
}

@keyframes typing {
    from { width: 0 }
}
