/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

@window-border-radius: 0.4em;
@window-font-size: @base-font-size;
@window-border: none;
@window-box-shadow: none;

@titlebar-fg: mix(@default-fg, @default-bg, 20%);
@titlebar-bg: mix(@default-fg, @default-bg, 90%);
@titlebar-close-fg: @titlebar-bg;
@titlebar-close-bg: mix(@default-fg, @default-bg, 70%);

.window {
    margin: 0 auto;
    font-size: @window-font-size;
    border-radius: @window-border-radius;
    overflow: hidden; // force corner radiuses on content
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    border: @window-border;
    box-shadow: @window-box-shadow;

    &.normal {
        height: 80%;
        width: 70%;
    }
    &.maximized {
        height: 100%;
        width: 100%;
    }

    .pane {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 1;

        & > .modeline {
            .block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 10px;
            border-top: .5px solid;
            border-bottom: .5px solid;
            user-select: none;
        }
    }

    &.hsplit {
        flex-direction: row;

        & > .pane {
            &.golden-ratio { width: 161.8%; }
        }
    }
    &.vsplit {
        flex-direction: column;

        & > .pane {
            &.golden-ratio { height: 161.8%; }
        }
    }

    & > .pane + .pane::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: exclusion;
        filter: contrast(10%);
    }
    &.hsplit > .pane + .pane::before {
        border-left: .5px solid;
    }
    &.vsplit > .pane + .pane::before {
        border-top: .5px solid;
    }

    // negate the split separator border when a modeline is used
    // (only works on browsers that have parent selector support)
    @supports(selector(:has(p))) {
        &.vsplit > .pane:has(.modeline) + .pane::before {
            border-top: none;
        }
    }

    & > .title {
        .block;
        .capitalize;
        .font-semibold;
        .text-center;
        position: absolute;
        width: 100%;
        top: 0;
        background-color: @titlebar-bg;
        color: @titlebar-fg;
        font-size: 0.9em;
        line-height: 1.5em;
        margin: 0;
        padding: 0.3em;
        user-select: none;

        &::before {
            .font-semibold;
            @size: calc(2.1 * 1.25em - .8em);
            content: "✕";
            position: absolute;
            top: .4em;
            left: .4em;
            border-radius: 50%;
            background-color: @titlebar-close-bg;
            color: @titlebar-close-fg;
            font-size: 0.8em;
            height: @size;
            width: @size;
        }
    }

    &.vsplit > .title + *,
    &:not(.vsplit) > .title ~ * {
        @title-bar-h: 0.9 * 2.1em;
        margin-top: @title-bar-h;
        max-height: calc(100% - @title-bar-h);
    }
}

.slide > .window {
    // Define a fixed max height so that the window won't overflow the
    // slide height. Since 'max-height' is based on the parent's 'height'
    // setting 100% max overflows when the slide is capt by its max boundary.
    max-height: calc(100vh - 2*@footer-h);
    max-width: 100vw;
}
