/**
 * This file is part of Expositio.
 *
 * Expositio is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Expositio is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Expositio.  If not, see <https://www.gnu.org/licenses/>.
 */

#expositio[data-theme="white"] {
    @import (multiple) "./themes/white";
    .expositio();
}

#expositio[data-theme="black"] {
    @import (multiple) "./themes/black";
    .expositio();
}

#expositio[data-theme="git"] {
    @import (multiple) "./themes/git";
    .expositio();
}

#expositio[data-theme="nord-bright"] {
    @import (multiple) "./themes/nord-bright";
    .expositio();
}

#expositio[data-theme="nord-dark"] {
    @import (multiple) "./themes/nord-dark";
    .expositio();
}

#expositio[data-theme="defaults"],
#expositio:not([data-theme]) {
    @import (multiple) "./themes/defaults";
    .expositio();
    &:before {
        .block;
        .text-center;
        background-color: #fde68a;
        content: "No theme is specified, defaults are used instead. Make sure to set 'data-theme' on the #expositio root or enable the theme-switcher.";
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

:root[expositio="standalone"] {
    body {
        margin: 0;
        padding:
            env(safe-area-inset-top)
            env(safe-area-inset-right)
            env(safe-area-inset-bottom)
            env(safe-area-inset-left);
    }
}
